.rightArrowStyles{
    position: absolute;
    top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: cadetblue;
  z-index: 1;
  cursor: pointer;
}
.leftArrowStyles{
    position: absolute;
    top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: cadetblue;
  z-index: 1;
  cursor: pointer;
}
.dotsContainerStyles{
    display: flex;
    justify-content: center;
    }



/* .textColor{
    color: black;
}
.polygon{
    clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0% 100%);
    margin-left: 94px;
} */